@model List<CoffeeTime.Models.Domain.MenuList>
@{
    ViewData["Title"] = "Menu List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col">
    <div class="row p-md-4 mt-3 shadow m-md-4 rounded-3">
        <div class="col-12 d-inline-flex">
            <h1 class="header me-4 me-md-5 mt-1">Menu List</h1>
            <a asp-action="AddItem" class="btn btn-outline-secondary pt-md-3 pt-2"><i class="fas fa-plus" style="color: black;"></i> Add New Item</a>
        </div>
        <partial name="_NotificationStatus"></partial>
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.ItemPrice SAR</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-route="AdminDeleteItem" asp-route-id="@item.Id" class="dropdown-item text-danger">Delete</a></li>
                                    <li><a class="dropdown-item" asp-route="ItemDetails" asp-route-id="@item.Id">Edit</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>