@{
    ViewData["Title"] = "logIn";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-5 left-img-login d-none d-md-block"></div>
            <div class="col">
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 col-lg-7 mt-4">
                        <a href="#" class="Login-Logo">
                            <img src="../img/logo.png" class="pb-3" alt="logo">
                            Coffee Time
                        </a>
                        <form>
                            <label class="form-label h2 login-label">Email</label>
                            <input type="email" class="form-control mb-3" placeholder="e.g. ahmad@gmail.com">

                            <label class="form-label h2 login-label">Password</label>
                            <input type="password" class="form-control">
                            <div class="form-text d-flex justify-content-between mb-3">
                                <span class="Rest-Right">Forget Password ?</span>
                                <a href="#" class="Rest-Link">Recover It</a>
                            </div>
                            <div class="d-grid col-6 mx-auto mb-2">
                                <button class="btn login-btn" type="button">LogIn</button>
                            </div>
                            <div class="form-text d-flex justify-content-between mb-3">
                                <span class="Rest-Right">Don't Have Account?</span>
                                <a asp-controller="Account" asp-action="Signup" class="Rest-Link">SignUp</a>
                            </div>
                            <div class="d-grid col-md-7 col-9">
                                <a asp-controller="Home" asp-action="Index" class="btn login-btn"><i class="fas fa-arrow-alt-circle-left pe-1"></i>Back To Home</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>